body {
    margin: 0;
    background-color: #F2EAE2;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: #FFFFFF;
    max-height: 450px;
    max-width: 600px;
}

.card-image img {
    max-height: 450px;
    max-width: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card-text {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0 2rem;
}

.card-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    color: #6C7289;
    margin-bottom: 0;
    display: block;
    width: 100%;
}

.card-text h2 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1C232B;
    margin-bottom: 0;
}

.card-text p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #6C7289;
    margin-bottom: 0;
}

.card-text h3 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #3D8168;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-text h4 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: #6C7289;
    text-decoration-line: line-through;
    margin-left: 9%;
}

.card-prices {
    display: flex;
    align-items: center;

    width: 100%;
}

.card-text button {
    background: #3D8168;
    border-style: none;
    border-radius: 8px;
    width: 236px;
    height: 48px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
}

.card-text button:hover {
    background: #1A4032;
    cursor: pointer;
}

.card-text svg {
    size: 16px;
}

@media (max-width: 594px) {
    body {
        margin: 0;
        background-color: #F2EAE2;
    }

    .card {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: #FFFFFF;
        max-width: 343px;
        max-height: 611px;
    }

    .card-image img {
        max-height: 240px;
        max-width: 343px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .card-text {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        transform: scale(0.9);
    }


}
